main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  background-image: url(../img/portrait.png), url(../img/BG.jpg);
  background-size: 70vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-intro h1 {
    font-size: 68px;
    line-height: 78px;
}

main p {
    font-size: 18px;
    line-height: 30px;
}

main a {
    margin-top: 30px;  
    font-size: 18px;
    display: block;
    background-color: var(--site-color-01);
    padding: 10px 20px;
    width: fit-content;
}

main .main-quotes p {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
    margin-left: 100px;
}

main .main-intro {
    position: relative;
    right: 45vh;
    padding-bottom: 8vh;
}

main .main-quotes {
    position: relative;
    left: 35vh;
    padding-bottom: 8vh;
}
