main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  background-image: url(../img/portrait.png), url(../img/BG.jpg);
  background-size: 70vh, cover;
  background-repeat: no-repeat;
  background-position: bottom left calc(50% + 15px), center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 450px;
}

main .main-intro h1 {
    font-size: 58px;
    line-height: 68px;
}

main p {
    font-size: 18px;
    line-height: 30px;
}

main a {
    margin-top: 30px;  
    font-size: 18px;
    display: block;
    background-color: var(--site-color-01);
    padding: 10px 20px;
    width: fit-content;
}

main .main-quotes p {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
    margin-left: 100px;
}

main .main-intro {
    padding: 10px;
    background: rgba(0, 0, 0, 0.618);
    position: relative;
    padding-bottom: 8vh;
}

main .main-quotes {
    padding: 10px;
    background: rgba(0, 0, 0, 0.618);
    position: relative;
    padding-bottom: 8vh;
}

/* CATEGORY SECTION */

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 0 20px;
    flex-wrap: wrap;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 28px;
}

.index-category-box {
    width: 200px;
    height: 200px;
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-category-box:nth-child(2) {
    background-image: url(../img/categories/web-dev-bg.png);
}

.index-category-box:nth-child(3) {
    background-image: url(../img/categories/movie-prod-bg.jpg);
}

.index-category-box:nth-child(4) {
    background-image: url(../img/categories/film-edit-bg.jpg);
}

.index-category-box:nth-child(5) {
    background-image: url(../img/categories/image-editing-bg.jpg);
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

.index-category-box h3 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
}
