body {
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  color: #000;
}

.wrapper-main {
  padding: 50px 0 50px;
}

table {
  width: 70%;
  margin: 0 auto;
}

table tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  font-weight: 600;
  background-color: #f1f9b3;
}

th,
td {
  text-transform: capitalize;
  padding: 5px 10px;
  cursor: pointer;
}

table.table-2 {
  margin-top: 60px;
}

table.table-2 th, td {
    /* width: 20px; */
}

table.table-2,
table.table-2 th,
table.table-2 td {
  border-collapse: separate;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  border-spacing: 20px;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
}

table.table-2 th:first-child {
    text-align: right;
    font-size: 7rem;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
}

table.table-2 {
  border: 2px;
  border-style: dotted;
}

.mrc {
    display: inline-block;
    font-size: 2rem;
    text-orientation:sideways-right;
    /* display: flex; */
    flex-direction: column;
}

.special {
    font-size: 5rem;
}