@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    background-color: #111;
}

.wrapper-main {
    padding-top: 20px;
    width: 900px;
    margin: 0 auto;
}

button {
    padding: 10px 16px;
    background-color: #fff;
    font-size: 20px;
    font-family: Roboto;
    border-radius: 20px;
    cursor: pointer;
}